/* Series.css */

.film-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background-color: white;
}

.film-item {
    width: calc(90% - 90px); /* Largeur de chaque élément film (50% de la largeur de la grille moins l'espacement) */
    margin-bottom: 20px;
}

.film-item img {
    width: 150%; /* Ajuster la largeur de l'image pour remplir entièrement son conteneur */
    height: auto; /* Permettre à la hauteur de l'image de s'ajuster automatiquement pour conserver les proportions */
}


@media screen and (max-width: 1200px) {
    .film-item {
        width: calc(33.33% - 20px); // Si l'écran est plus petit, afficher trois films par ligne
    }
}

@media screen and (max-width: 800px) {
    .film-item {
        width: calc(50% - 20px); // Si l'écran est encore plus petit, afficher deux films par ligne
    }
}

@media screen and (max-width: 600px) {
    .film-item {
        width: 100%; // Pour les écrans très petits, afficher un film par ligne
    }
}
