body {
  .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row; // Aligner les éléments horizontalement
    justify-content: space-between; // Espacer les éléments
    background: linear-gradient(
      0deg,
      rgb(218, 232, 247) 0%,
      rgb(255, 255, 255) 100%
    );
    background-size: cover;
    overflow: hidden;
    transition: 0.5s;

    .banner-image {
      width: 40%; /* Ajustez la largeur de l'image selon vos préférences */

      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    .details {
      flex: 1; // Les détails prennent tout l'espace restant
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .title {
        font-family: "roboto";
        font-style: 900;
        line-height: 2rem;
      }

      h4 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 50px;
        margin-top: 30px;
        width: 80%;
      }

      .button {
        display: flex;
        flex-direction: row;

        a {
          margin-right: 30px;
          background: rgb(1, 235, 252);
          color: #ffff;
          padding: 6px 30px;
          text-decoration: none;
          font-weight: 700;
          letter-spacing: 1px;
          text-transform: uppercase;
          transition: 0.5s;
          cursor: pointer;
          box-shadow: 0px 0px 100px rgb(1, 235, 252), inset 0px 0px 10px rgb(1, 235, 252), 0px 0px 5px rgb(255, 255, 255);
        }
      }
    }
  }

  header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: transparent;
    z-index: 1000;
    transition: 0.5s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre autour du header */

    // Si vous avez besoin d'une ombre seulement en bas du header, vous pouvez utiliser ceci :
    // box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.1); /* Ombre seulement en bas du header */
}
}
