header {
  nav {
    position: sticky;
    justify-content: space-between;
    background-color: transparent;
    color: $white;
    width: 100%;
    height: 64px;
    padding: 15px 10px;

    .content {
      .sub-media {
        display: flex;
        justify-content: space-between;

        .log {
          .categories {
            .content {
              display: flex;
              justify-content: space-between;
              text-decoration: none;
            }

            .links-flex {
              list-style: none;
              padding: 0;
              margin: 0;
              display: flex;
              align-items: center;

              li {
                margin-right: 50px;
              }

              li:last-child {
                margin-right: 0;
              }

              li a {
                text-decoration: none;
                color: black;
                font-weight: 700;
                position: relative;
                margin-right: 30px;
                margin-left: 7px;
                max-width: 200px;
                min-height: 40px;
                padding: 10px;
                font-family: "Courier New", Courier, monospace;
                outline: none;
                background: #ffffff;
                box-shadow: 3px 3px 10px #c8c8c8, -3px -3px 10px #ffffff;
                border: none;
                border-radius: 8px;
                transition: all 0.5s;
              }
            }
          }
        }

        .search {
          display: flex;
          height: 24px;
          justify-content: center;
          align-items: center;
          padding: 0.2rem;
          gap: 0.4rem;
          padding-left: 0.5rem;

          .container {
            position: relative;
            border-radius: 100px;
            padding: 5px;
            place-content: center;

            button {
              background-color: transparent;
              border: none;
              cursor: pointer;
              &:focus {
                outline: none;
              }
            }

            .search-container {
              display: flex;
              position: relative;
              width: 100%;
              border-radius: 50px;
              background: linear-gradient(
                135deg,
                rgb(218, 232, 247) 0%,
                rgb(214, 229, 247) 100%
              );
              padding: 5px;
              display: flex;
              align-items: center;

              input {
                padding: 10px;
                width: 0;
                opacity: 0;
                visibility: hidden;
                background-color: transparent;
                border: none;
                color: black;
                transition: 0.3s ease-in-out;

                &:focus {
                  outline: none;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    nav {
      flex-direction: column;

      .content {
        flex-direction: column;

        .sub-media {
          .log {
            .categories {
              .content {
                flex-direction: column;
              }
            }

            .search {
              flex-direction: column;
            }
          }
        }
      }
    }
  }

  /* Media Query pour les tablettes */
  @media (max-width: 1024px) {
    /* Styles pour les tablettes */
  }

  /* Media Query pour les téléphones */
  @media (max-width: 480px) {
    /* Styles pour les téléphones */
  }
}

