header {
  background-color: transparent;
  nav {
    position: sticky;
    justify-content: space-between;
    background-color: transparent;
    color: $white;
    width: 100%;
    height: 64px;
    padding: 15px 10px;
    .content {
      .sub-media {
        display: flex;
        justify-content: space-between;
        .log {
          .categories {
            .content {
              display: flex;
              justify-content: space-between;
              text-decoration: none;
            }

            .links-flex {
              list-style: none;
              padding: 0;
              margin: 0;
              display: flex;
              align-items: center;

              li {
                margin-right: 10px;
              }

              li:last-child {
                margin-right: 0;
              }

              li a {
                text-decoration: none;
                color: black;
                font-weight: 700;
                position: relative;
                width: 100px;
                height: 100px;
                border: 2px solid rgb(1, 235, 252);
                overflow: hidden;
                box-shadow: 0px 0px 100px rgb(1, 235, 252), inset 0px 0px 10px rgb(1, 235, 252), 0px 0px 5px rgb(255, 255, 255);
                padding: 10px;
                animation: text-flicker 2s linear infinite; /* Changement ici */
              }

              @keyframes text-flicker { /* Changement ici */
                0% {
                  color: black;
                }
                50% {
                  color: transparent; /* Changement ici */
                }
                100% {
                  color: black;
                }
              }
            }
          }
        }
      
    
  



        .search {
          display: flex;

          height: 24px;
          justify-content: center;
          align-items: center;
          padding: 0.2rem;
          gap: 0.4rem;
          padding-left: 0.5rem;
          .container {
            position: relative;
            border-radius: 100px;
            padding: 5px;
            place-content: center;

            button {
              background-color: transparent;
              border: none;
              cursor: pointer;
              &:focus {
                outline: none;
              }
            
            }

            .search-container {
              display: flex;
              position: relative;
              width: 100%;
              border-radius: 50px;
              background: linear-gradient(
                135deg,
                rgb(218, 232, 247) 0%,
                rgb(214, 229, 247) 100%
              );
              padding: 5px;
              display: flex;
              align-items: center;

              input {
                padding: 10px;
                width: 0;
                opacity: 0;
                visibility: hidden;
                background-color: transparent;
                border: none;
                color: black; /** changer de couleur**/
                transition: 0.3s ease-in-out;

                &:focus {
                  outline: none;
                }
              }
              /** ne fonctionne pas encore la transition de search**/
              .show-search {
                border: 1px solid rgb(1, 235, 252);
                background-color: rgb(1, 235, 252);
                box-shadow: 0px 0px 100px rgb(1, 235, 252), inset 0px 0px 10px rgb(1, 235, 252), 0px 0px 5px rgb(255, 255, 255);
                input {
                  width: 100%;
                  opacity: 1;
                  visibility: visible;
                  padding: 0.3rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
