header {
  background-color: transparent;
  nav {
    position: sticky;
    justify-content: space-between;
    background-color: transparent;
    color: $white;
    width: 100%;
    height: 64px;
    padding: 15px 10px;
    .content {
      .sub-media {
        display: flex;
        justify-content: space-between;
        .log {
          .categories {
            .content {
              display: flex;
              justify-content: space-between;
              text-decoration: none;
            }

            .links-flex {
              list-style: none;
              padding: 0;
              margin: 0;
              display: flex;
              align-items: center; // Facultatif, pour aligner les éléments verticalement au centre
              
            }

            .links-flex li {
              margin-right: 10px; // Espacement entre les liens (ajustez selon vos besoins)
              
            }

            .links-flex li:last-child {
              margin-right: 0; // Supprimer la marge à droite pour le dernier lien
              text-decoration: none;
            }

            .links-flex li a {
              text-decoration: none; // Ajoutez ceci pour retirer les soulignements sous tous les liens
              color: black; // Assurez-vous que la couleur du texte est héritée
              font-weight: 700;
             margin-right: 65px;
             
            }
          }
        }

        .search {
          display: flex;

          height: 24px;
          justify-content: center;
          align-items: center;
          padding: 0.2rem;
          gap: 0.4rem;
          padding-left: 0.5rem;
          .container {
            position: relative;
            border-radius: 100px;
            padding: 5px;
            place-content: center;

            button {
              background-color: transparent;
              border: none;
              cursor: pointer;
              &:focus {
                outline: none;
              }
              svg {
                color: #f34242; /** on va changer de couleur plus tard**/
                font-size: 1.2rem;
              }
            }

            .search-container {
              display: flex;
              position: relative;
              width: 100%;
              border-radius: 50px;
              background: linear-gradient(
                135deg,
                rgb(218, 232, 247) 0%,
                rgb(214, 229, 247) 100%
              );
              padding: 5px;
              display: flex;
              align-items: center;

              input {
                padding: 10px;
                width: 0;
                opacity: 0;
                visibility: hidden;
                background-color: transparent;
                border: none;
                color: black; /** changer de couleur**/
                transition: 0.3s ease-in-out;

                &:focus {
                  outline: none;
                }
              }
              /** ne fonctionne pas encore la transition de search**/
              .show-search {
                border: 1px solid red;
                background-color: #f34242;
                input {
                  width: 100%;
                  opacity: 1;
                  visibility: visible;
                  padding: 0.3rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
