.Container {
 
    width: 100%; // Assure que le composant Search occupe toute la largeur disponible
    margin-top: 150px;
    
    .search-box {
      display: flex;
      justify-content: center; // Centre le contenu horizontalement
      margin-top: 20px; // Ajoute un peu d'espace en haut
    
      .container-box {
        width: 100%; // Permet au contenu de remplir la largeur disponible
        max-width: 600px; // Limite la largeur pour éviter l'expansion excessive sur les grands écrans
    
        .search {
          display: flex;
          align-items: center; // Centre les éléments verticalement
    
          button {
            background: none;
            border: none;
            cursor: pointer;
            outline: none;
    
            svg {
              width: 20px;
              height: 20px;
              color: #888;
            }
          }
    
          input {
            flex: 1; // Permet à l'input de prendre toute la largeur disponible
            margin-left: 10px; // Ajoute un peu d'espace entre le bouton de recherche et l'input
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            outline: none;
    
            &:focus {
              border-color: #007bff; // Couleur de la bordure lorsqu'il est en focus
            }
          }
        }
      }
    }
  
    
  }
  // Style pour les résultats de recherche
  .search-results {
    display: flex;
    flex-wrap: wrap; // Permet aux résultats de passer à la ligne lorsque l'espace est insuffisant

    // Style pour chaque résultat individuel
    .search-result {
      width: 50%; // Pour afficher deux résultats par ligne
      padding: 10px; // Ajoute un peu d'espace entre les résultats
      box-sizing: border-box; // Inclut le padding dans la largeur et la hauteur du résultat

      // Style pour l'image
      img {
        width: 100%;
        height: auto;
        border-radius: 5px;
      }

      // Style pour les détails du film
      .film-details {
        margin-top: 10px;

        h3 {
          margin: 0;
          font-size: 18px;
        }

        p {
          margin: 5px 0;
          font-size: 14px;
          color: blue;
        }
      }
    }
  }
  