/* Series.scss */

.film-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: white;
    padding-left: 130px;
    position: relative;
    cursor: pointer;
}

.film-item {
    width: calc(70% - 10px);
    margin-bottom: 20px;
    margin-top: 40px;
    position: relative;
    overflow: hidden;
    
    box-shadow: 0px 0px 100px rgb(164, 202, 248), inset 0px 0px 10px rgb(164, 202, 248), 0px 0px 5px rgb(255, 255, 255);

    img {
        width: 100%;
        height: auto;
        transition: transform 0.3s ease;
        border: 1px solid rgb(1, 235, 252);
        border-radius: 5%;
        
    }

    &:hover img {
        transform: scale(1.3); /* Appliquer la mise à l'échelle au survol */
    }

    .film-details {
        font-family: "roboto";
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 20px;
        display: none;
        width: 100%;
        top: 0;
        right: 0;
        max-height: 100px;
        overflow-y: auto;
        margin-top: 235px;

        button{
            cursor: pointer;
            font-family: 'Courier New', Courier, monospace;
            background-color: rgb(164, 202, 248);
            color: black;
            border: rgb(164, 202, 248);
            border-radius: 10%;
           
        }

        h3 {
            font-family: 'roboto';
            font-weight: 500;
            font-size: 15px;
            margin-bottom: 5px;
        }

        p {
            font-family: 'roboto';
            font-weight: 300;
            font-size: 12px;
           
        }
    }

    &:hover .film-details {
        display: block;
    }
}














